<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  	<script type="text/javascript">
  		goLocation = function(nextLocation){
  			location = "/"+nextLocation;
  		};

      doEdit = function(studentId){
        location = "/student/edit/"+studentId;
      };

      doDelete = function(studentId){
        $.ajax({
          url : "/api/student",
          type: "DELETE",
          data : {id:studentId},
          success: function(data, textStatus, jqXHR) {
            if(data.result == "success"){
              location = "/student";
            }
          },
          error: function (jqXHR, textStatus, errorThrown){
            alert("Unable to connect remote server..");
          }
        });
      };

      doSearch = function(){
        var field = $('#field').val();
        var searchTxt = $('#searchTxt').val();
        if(searchTxt.length < 1){
          location = "/student";
        }else{
          location = "/student/" + field+"/"+searchTxt;
        }
      }

  	</script>
    <h1><%= title %></h1>
    <button onclick="goLocation('dashboard')">Dasboard</button> | 
    <button onclick="goLocation('customer')">Customers</button> | 
	<button onclick="goLocation('student')">Students</button> | 
    <button onclick="goLocation('about')">About</button> | 
    <button onclick="goLocation('login')">logout</button> | 
    <hr/>
    <button onclick="goLocation('student/add')">Add Student</button> | 
    <input id="searchTxt" type="" name="">
    <select id="field">
      <option value="name">Name</option>
      <option value="classname">Class</option>
      <option value="parentname">Parent's Name</option>
      <option value="schoolname">School Name</option>
      <option value="subject">Subject</option>
      
    </select>
    <button onclick="doSearch()">Search</button> | 
    <br/><br/>
    <div class="page-data">
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="20px">No</th>
                    <th width="250px">Name</th>
                    <th width="220px">Class</th>
                    <th width="100px">Parent's Name</th>
                    <th width="300px">School Name</th>
                    <th width="300px">Subject</th>
                    
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <% if(data.length){for(var i = 0;i < data.length;i++) { %>       
                <tr>
                    <td><%=data[i]._id%></td>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].classname%></td>
                    <td><%=data[i].parentname%></td>
                    <td><%=data[i].schoolname%></td>
                    <td><%=data[i].subject%></td>
                    
                    <td><button onclick="doEdit('<%=data[i]._id%>');" >Edit</button></td>
                    <td><button onclick="doDelete('<%=data[i]._id %>');">Delete</button></td>
                </tr>
            <% }
             }else{ %>
                 <tr>
                    <td colspan="7">No student found</td>
                 </tr>
            <% } %> 
            </table>
         </div>
        </div>
  </body>
</html>
